/* @override http://firedpot.com/css/all.css */

a {
	text-decoration: none;
}

p, h1, h2, #cv td {
	line-height: 1.2;
}

em {
	font-style: italic;
}

h1, h2 {
	font-weight: bold;
}

td {
	vertical-align: top;
}
