/* @override http://firedpot.com/css/all.css */

#site, #copyright {
	font-family: "myriad-pro-1", "myriad-pro-2", Verdana, Arial, sans-serif;
}

#menu, #home {
	font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", Verdana, Arial, sans-serif;
}

img {
	border: 0
}

a {
	text-decoration: none;
}

h1, h2 {
	font-weight: bold;
}

td, p {
	margin: 0;
	padding: 0;
}

td {
	border-spacing: 0;
	vertical-align: top;
}
