#site, h1, h2 {
	font-size: 12pt;
}

#menu {
	visibility: hidden;
	height: 0;
	width: 0;
}

h1 {
	border-bottom: 1pt solid black;
	padding-bottom: 1pt;
	margin-bottom: 5pt;
}

#cv td:first-child {
	width: 8em;
}

a {
	color: black;
}
