#menu {
	visibility: hidden;
	height: 0;
	width: 0;
}

p, h1, h2, td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
	line-height: 14pt;
}

h1, h2 {
	margin-top: 14pt;
}

h1:first-child {
	margin-top: 0;
}

h1 {
	border-bottom: 1pt solid black;
	margin-bottom: 6pt;
}

#cv td:first-child {
	width: 7em;
}

a {
	color: black;
}
