/* @override 
	http://firedpot.github.com/css/screen.css
*/

body {
	background-color: #7c7c7c;
}

#site {
	width: 750px;
	margin: auto;
}

#banner {
	margin-top: 5%;
}

#frontpage {
	font-family: "museo-sans-1","museo-sans-2";
}

#page {
	margin-top: 5%;
}

#content {
	display: inline-block;
	margin-left: 35px;
}

#logo {
	display: inline-block;
}

#name {
	display: inline-block;
	float: right;
}

#menu {
	width: 150px;
	display: inline-block;
}