/* @override http://firedpot.github.com/css/screen-common.css */

body {
	background-color: #7c7c7c;
	border: 0;
}

#site {
	width: 750px;
	margin: auto;
}


#banner {
	margin-top: 5%;
}

#logo {
	display: inline-block;
}

#name {
	display: inline-block;
	float: right;
}
