/* @override http://firedpot.github.com/css/screen.css */

body {
	background-color: #7c7c7c;
	width: 680px;
	margin: auto;
}

#page {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

#banner, #page {
	margin-top: 5%;
}

.english a, .english #frontpage p {
	color: #4ee5d9;
}

.italian a, .italian #frontpage p {
	color: teal;
}

#frontpage p {
	text-align: center;
}

#content {
	display: inline-block;
	color: black;
	width: 510px;
	float: left;
}

#name {
	padding-left: 60px;
}

#menu {
	width: 160px;
	display: inline-block;
	float: left;
	padding-left: 10px;
	font-size: 1.3em;
	line-height: 1.4;
}

#menu a {
	text-decoration: none;
	display: block;
}

#menu a:hover {
	text-decoration: underline;
}

h1:first-child {
	margin-top: 0;
}

h1 {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: bold;
	border-bottom: thin solid silver;
	padding-bottom: 0.1em;
	margin-bottom: 0.4em;
}

h2 {
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 0;
	font-weight: bold;
}

#cv {
	width: 500px;
	margin-bottom: 5%;
}

#cv td:first-child {
	width: 4em;
}

td {
	vertical-align: top;
}
