/* @override http://firedpot.github.com/css/screen.css */

body {
	background-color: #7c7c7c;
	width: 750px;
	margin: auto;
}

#banner {
	margin-top: 5%;
}

#frontpage {
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
	font-weight: bold;
	text-align: center;
}

#page {
	margin-top: 5%;
	font-size: large;
}

#content {
	display: inline-block;
	margin-left: 35px;
}

#logo {
	display: inline-block;
}

#name {
	display: inline-block;
	float: right;
}

#menu {
	width: 150px;
	display: inline-block;
	float: left;
	font: small-caps bold x-large "museo-sans-1","museo-sans-2",sans-serif;
}

.english {
	color: #4ee5d9;
}
