.wufoo {
	font-family: "myriad-pro-1", "myriad-pro-2", Verdana, Arial, sans-serif;
	background-color: #7c7c7c;
}

.wufoo div, .wufoo h1, .wufoo h2, .wufoo h3, .wufoo p {
	font-size: 1.02em;
	line-height: 1.2em;
}

.wufoo .info {
	border-bottom: none;
}
