---
layout: common
language: english
---
<div id="banner">
	<img id="logo" alt="Image: Site logo" src="http://img.skitch.com/20110321-1wc7n2rubrus1gqadyxg1m4n6u.gif" />
	<img id="name" alt="Paola Di Celmo" src="http://img.skitch.com/20110321-kfkqpk39e218gmt83bde8ajses.gif" />
</div>
<div id="page">
	<div id="menu" class="english">
		<ul>
			<li><a href="/pages/english/home.html" title="Home">Home</a></li>
			<li><a href="/pages/english/insight.html" title="Insight">Insight</a></li>
			<li><a href="/pages/english/gallery.html" title="Gallery">Gallery</a></li>
			<li><a href="/pages/english/cv.html" title="CV">CV</a></li>
			<li><a href="/pages/english/review.html" title="Review">Review</a></li>
			<li><a href="/pages/english/movie.html" title="Movie">Movie</a></li>
		</ul>
		<ul class="italian">
			<li><a href="/pages/italian/{{ page.link }}.html" title="Italiano">Italiano</a></li>
		</ul>
	</div>
	<div id="content" class="english">
		{{ content }}
	</div>
</div>
