---
layout: common
---
<div id="banner">
	<div id="logo">
		<img alt="Image: Site logo" src="/images/paola-di-celmo-logo.gif" />
	</div>
	<div id="name">
		<img alt="Paola Di Celmo" src="/images/paola-di-celmo-name.gif" />
	</div>
</div>
<div id="page">
	<div id="menu" class="english">
		<ul>
			<li>Home</li>
			<li>Insight</li>
			<li>Gallery</li>
			<li>CV</li>
			<li>Review</li>
			<li>Movie</li>
		</ul>
		<ul class="italiano">
			<li>Italiano</li>
		</ul>
	</div>
	<div id="content" class="english">
		{{ content }}
	</div>
</div>
