---
layout: common
language: italian
---
<div id="banner">
	<img id="logo" alt="Image: Site logo" src="/images/paola-di-celmo-logo.gif" />
	<img id="name" alt="Paola Di Celmo" src="/images/paola-di-celmo-name.gif" />
</div>
<div id="page">
	<div id="menu" class="italian">
		<ul>
			<li><a href="/pages/italian/home.html" title="Home">Home</a></li>
			<li><a href="/pages/italian/insight.html" title="Insight">Insight</a></li>
			<li><a href="/pages/italian/gallery.html" title="Gallery">Gallery</a></li>
			<li><a href="/pages/italian/cv.html" title="CV">CV</a></li>
			<li><a href="/pages/italian/review.html" title="Review">Review</a></li>
			<li><a href="/pages/italian/movie.html" title="Movie">Movie</a></li>
		</ul>
		<ul class="english">
			<li><a href="/pages/english/{{ page.link }}.html" title="English">English</a></li>
		</ul>
	</div>
	<div id="content" class="italian">
		{{ content }}
	</div>
</div>
