<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Paola Di Celmo" />
		<link rel="stylesheet" href="/css/screen-common.css" type="text/css" media="screen, projection" />
		<script type="text/javascript" src="http://use.typekit.com/hza4zwb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="site">
			<div id="banner">
				<div id="logo">
					<a href="/" title="Logo">
						<img alt="Logo" src="/images/paola-di-celmo-logo.gif" />
					</a>
				</div>
				<div id="name">
					<a href="/" title="Paola Di Celmo">
						<img alt="Paola Di Celmo" src="/images/paola-di-celmo-name.gif" />
					</a>
				</div>
			</div>
			<div id="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>
