<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Paola Di Celmo" />
		<link rel="stylesheet" href="/css/screen-common.css" type="text/css" media="screen, projection" />
		
	</head>
	<body>
		<div class="site">
			<div class="banner">
				<a href="/" title="Logo">
					<img alt="Logo" src="/images/paola-di-celmo-logo.gif" width="91" height="70" border="0" />
				</a>
				<a href="/" title="Paola Di Celmo">
					<img alt="Paola Di Celmo" src="/images/paola-di-celmo-name.gif" width="500" height="70" border="0" />
				</a>
			</div>
		</div>
	</body>
</html>
