/* @override http://firedpot.com/styles/screen.css */

html, .wufoo {
	background-color: #7c7c7c;
}

html {
	overflow-y: scroll;
}

.print {
	font-size: 0;
}

#site, #copyright, .wufoo .info h2, .wufoo .info div, label, input {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
}

#menu, #home {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
}

#site {
	width: 665px;
	margin: 0 auto;
}

p, h1, h2, td, a, .wufoo .info h2, .wufoo .info div, label, input {
	font-size: 1.02em;
	line-height: 1.2em;
}

h1, h2 {
	margin-top: 1.2em;
}

#menu a {
	display: block;
	letter-spacing: 0.05em;
	line-height: 1.5em;
}

#banner, #page {
	padding-top: 5%;
}

.english a, #home.english, #copyright.english {
	color: #75c4cc;
}

.italian a, #home.italian, #copyright.italian {
	color: #bda17a;
}

#home {
	text-align: center;
}

#content {
	color: black;
	width: 505px;
	float: right;
	padding-bottom: 5%;
}

#name {
	padding-left: 60px;
}

#menu {
	width: 150px;
	float: left;
	padding-left: 10px;
	overflow: hidden;
}

#menu a:hover {
	text-decoration: underline;
}

#copyright {
	font-size: 0.5em;
	margin-top: 2em;
}

h1 {
	border-bottom: thin solid silver;
	margin-bottom: 0.4em;
}

h1:first-child {
	margin-top: 0;
}

#cv td:first-child {
	width: 5.2em;
}

#gallery td {
	width: 100px;
	text-align: center;
	padding: 25px 0 0 35px;
}

#gallery tr:first-child td {
	padding-top: 0;
}

#gallery td:first-child {
	padding-left: 0;
}

.wufoo .info {
	border-bottom: none;
}
